body {
  background-color: #52c156;
  background: url(./background.jpg) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0;
}
